/* Reset de estilos para eliminar márgenes y rellenos predeterminados */
body, h1, h2, p, hr, a {
    margin: 0;
    padding: 0;
}

/* Estilos generales para el cuerpo de la página */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* Estilos para el encabezado del artículo */
.encabezado-articulo {
    text-align: center;
    color: #007BFF;
}

/* Estilos para el contenedor principal */
#contenedor {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para los enlaces de texto */
.texto {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;

}

.texto:hover {
    text-decoration: underline;
}

/* Estilos para el pie de página */
.footer {
    text-align: center;
    color: #888;
    margin-top: 10px;
    font-size: 20px;
}

/* Estilos adicionales para la estructura */
hr {
    border: 1px solid #ddd;
    margin: 20px 0;
}
