/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa; /* Color de fondo similar al de Bootstrap */
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 50px;
}

/* Estilos para la tarjeta de login */
.card {
    margin: auto;
    margin-top: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-body {
    text-align: center;
}

.card-title {
    color: #007BFF; /* Color primario de Bootstrap */
}

.form-label {
    font-weight: bold;
}

/* Estilos para el formulario */
.form-control {
    margin-bottom: 15px;
}

/* Estilos para el botón de enviar */
#btnEnviar {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#btnEnviar:hover {
    background-color: #0056b3; /* Cambio de color al pasar el ratón */
}

/* Estilos para el enlace dentro de la tarjeta */
.card-body a {
    margin-top: 20px;
}

/* Estilos para el pie de página */
footer {
    text-align: center;
    padding: 20px;
    background-color: #343a40; /* Color oscuro similar al de Bootstrap */
    color: #fff;
}
