/* Estilos generales */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa; /* Color de fondo similar al de Bootstrap */
  margin: 0;
  padding: 20px;
}

/* Estilos para los elementos de entrada */
label {
  font-weight: bold;
}

input {
  margin-bottom: 10px;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
}

/* Estilos para el botón de subir */
button {
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3; /* Cambio de color al pasar el ratón */
}

/* Estilos para el contenedor de la imagen */
#imagenContainer {
  margin-top: 20px;
}

/* Estilos para el pie de página */
footer {
  text-align: center;
  padding: 20px;
  background-color: #343a40; /* Color oscuro similar al de Bootstrap */
  color: #fff;
}
